.container {
    display: flex;
    height: calc(100% - 60px)
}

.header {
    height: 60px;
    padding: 0;
}

.side {
    height: 100%;
    width: 20%;
    min-width: 180px;
}

.container .content {
    width: 100%;
    padding: 10px;
}

.layui-nav-tree {
    width: auto !important;
}