<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyut.system.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.zyut.system.model.dto.Role">
    <!--@mbg.generated-->
    <!--@Table role-->
    <id column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="update_id" jdbcType="INTEGER" property="updateId" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    role_id, role_name, create_id, create_time, update_id, update_time, is_delete,role_key
  </sql>
  
  <select id="getRoleByUserId" resultMap="BaseResultMap">
     select
        <include refid="Base_Column_List"/>
    from role ro
        where  exists(
                    select  role_id from  user_role where  user_id = #{userId}
                 )
    and  is_delete = 'N'
  </select>
    <select id="query" resultType="com.zyut.system.model.vo.RoleVO">
        select
         *
        FROM role

        ${ew.customSqlSegment}
    </select>
</mapper>